server:
  port: 8082

spring:
  application:
    name: service-consultation
  datasource:
    url: jdbc:postgresql://localhost:5432/consultation_db
    username: consultation_user
    password: consultation_pass
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  rabbitmq:
    enabled: false

eureka:
  client:
    enabled: false

logging:
  level:
    com.esante.consultation: INFO
    org.hibernate.SQL: DEBUG
