server:
  port: 8082

spring:
  application:
    name: service-consultation
  datasource:
    url: jdbc:postgresql://localhost:5432/consultation_db
    username: consultation_user
    password: consultation_pass
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    fetch-registry: true
    register-with-eureka: true

logging:
  level:
    com.esante.consultation: DEBUG
    org.hibernate.SQL: DEBUG
